/* Red background */
.red-background {
    background-color: red;
  }

/* Green background */
.green-background {
    background-color: green;
  }

/* Blue background */
.blue-background {
    background-color: blue;
  }

/* Yellow background */
.yellow-background {
    background-color: yellow;
  }

/* Black background */
.black-background {
    background-color: black;
  }

/* White background */
.white-background {
    background-color: white;
  }